:root {
  --botc-colour-cream-springwood: #F9F7F1;
  --botc-colour-cream-stark-white: #F1EAD9;
  --botc-colour-cream-straw: #D1BB87;
  --botc-colour-ink-wineberry: #5C1F22;
  --botc-colour-purple: #411F5C;
  --lock-colour-light: rgba(158, 158, 158, 0.5);
  --lock-colour-dark: rgba(91, 91, 91, 0.5);
  --ui-background: #444444;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to bottom,
      var(--botc-colour-purple),
      var(--botc-colour-ink-wineberry));
  background-attachment: fixed;
}

main {
  color: var(--botc-colour-cream-springwood);
  font-family: sans-serif;
  text-align: center;
}

img {
  vertical-align: middle;
}

h3 {
  margin: 0;
  text-align: center;
}

h4 {
  margin: 0;
}

.row {
  margin: 2px;
}

ul {
  list-style-type: none;
  text-align: left;
}

li {
  padding-left: 1rem;
  padding-right: 1rem;
}

li>.selected {
  background-color: cadetblue;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.sidebar {
  width: 300px;
  height: 100vh;
  top: 0;

  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 7px;

  background-color: var(--ui-background);
}

.sidebar .box {
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: start;

  background-color: var(--ui-background);
}

.sidebar ul {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;

  flex-grow: 1;

  background-color: var(--ui-background);
}

.content {
  margin-left: 300px;
  padding: 10px;
}

.content ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content li {
  border: 1px solid lightgray;
}

.content li.locked {
  background: repeating-linear-gradient(-45deg,
      var(--lock-colour-light),
      var(--lock-colour-light) 10px,
      var(--lock-colour-dark) 10px,
      var(--lock-colour-dark) 20px);
}